<%- include("header.ejs") -%>

<h1 style="color:purple">ABOUT</h1>

<p>This is a page about top football and cricket players.Its made only for taking a review of Players in these formats.</p>

<%- include("footer.ejs") -%>
